{
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "all",
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
