@import './theme.scss';
@import './utils.sass';
@import './input.scss';

/*
 *
	FONTS
*/

@import '@fontsource/fira-mono';

/*	RUBIK  */
@font-face {
	font-family: 'rubik';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/rubik/rubik.ttf') format('truetype');
}
@font-face {
	font-family: 'rubik-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/rubik/rubik-italic.ttf') format('truetype');
}

/*	DOSIS  */
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}

/*	MERRIWEATHER  */
@font-face {
	font-family: 'merriweather';
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/merriweather/merriweather.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 *
	BASICS
*/

:root {
	--font-a: 'rubik', sans-serif;
	--font-b: 'dosis', sans-serif;
	--font-c: 'merriweather', sans-serif;
	--font-mono: 'mono', monospace;

	--confirm: #00a2ff;
	--warn: tomato;

	--radius-sm: 0.25rem;
	--radius: 0.5rem;

	--shadow-sm: 0px 3px 5px -3px rgba(0, 0, 0, 0.15), 0px 4px 3px -1px rgba(0, 0, 0, 0.05),
		0px 14px 15px -1px rgba(0, 0, 0, 0.04);
	--shadow-md: 0px 4.7px 10px -3px rgba(0, 0, 0, 0.275), 0px 7.3px 5.6px -1px rgba(0, 0, 0, 0.09),
		0px 14px 15px -1px rgba(0, 0, 0, 0.14);
}

body {
	min-height: 100vh;
	margin: 0;

	background-color: var(--light-a);

	transition: color 0.5s background 0.3s background-color 0.3s;
}

#svelte {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

h1,
h2 {
	color: var(--dark-a);

	font-family: var(--font-a);
	font-weight: 500;
	letter-spacing: 1.2px;
	word-spacing: 4px;
}

p,
li {
	color: var(--dark-a, --text-color);
	& a {
		color: var(--dark-c);
	}

	font-family: var(--font-a);
	font-size: 1.2em;
	font-weight: 200;
	line-height: 1.5;
}

a {
	color: var(--dark-a);

	text-decoration: underline;
	text-decoration-color: var(--light-d);
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 0 0 1em 0;

	font-size: 2rem;

	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: max-content;
	height: max-content;
	padding: 0.5rem 1rem;

	border-radius: 10px;
	color: var(--dark-d);
	background: var(--light-a);
	border: 1px solid var(--light-a);

	font-family: var(--font-a);
	word-spacing: 3px;

	user-select: none;
	cursor: pointer;

	transition: color 0.2s;

	&:hover {
		color: var(--dark-a);
	}
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

/*
 *
	APP SPECIFIC
*/

#app,
.page {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.scroller {
	position: relative;
	overflow-y: auto;
	z-index: 1;
	-webkit-overflow-scrolling: touch; // smooth scrolling on iOS

	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(var(--dark-d-rgb), 0);
		border-radius: 5px;
		transition: background 0.2s;

		&:hover {
			cursor: pointer;
		}
	}
	&:hover::-webkit-scrollbar-thumb {
		background: rgba(var(--dark-d-rgb), 0.1);
	}
	&.ghost:hover::-webkit-scrollbar-thumb {
		background: rgba(var(--dark-d-rgb), 0);
	}
}

.space-xs {
	height: 0.5rem;
}
.space-sm {
	height: 1rem;
}
.space-md {
	height: 1.75rem;
}
.space-lg {
	height: 3rem;
}
.space-xl {
	height: 6rem;
}
