:root {
	--theme-a: #d71f5b;
	--theme-b: #ffcc8b;
	--theme-c: #ff8ba9;
	--always-dark: #0b0e11;
}
:root {
	--dark-a: #0b0e11;
	--dark-b: #1c1e21;
	--dark-c: #1d252e;
	--dark-d: #3a3a44;
	--light-a: #ffffff;
	--light-b: #dfe1e9;
	--light-c: #c3c4c7;
	--light-d: #96969e;

	--bg-a: light-dark(#0b0e11, #ffffff);
	--bg-b: light-dark(#1c1e21, #dfe1e9);
	--bg-c: light-dark(#1d252e, #c3c4c7);
	--bg-d: light-dark(#545460, #96969e);
	--fg-a: light-dark(#ffffff, #0b0e11);
	--fg-b: light-dark(#dfe1e9, #1c1e21);
	--fg-c: light-dark(#c3c4c7, #1d252e);
	--fg-d: light-dark(#acacb4, #3a3a44);
}

:root[theme='dark'] {
	color-scheme: dark;
}
:root[theme='light'] {
	color-scheme: light;
}