<script>
	/**
	* @type {import('@sveltejs/kit').Load}
	*/
	export async function load({ params, url, fetch, session, context }) {
	const resourceUrl = `api`;
	const res = await fetch(resourceUrl);

	if (res.ok) {
	return {
		props: {
		propName: await res.json()
		}
	};
	}

	return {
	status: res.status,
		error: new Error(`Could not load url`)
	};
	}
</script>

# ya

> Yeet

<Mofo />
